div#wrapper {
  margin: auto;
  padding: 2em;
  max-width: 60em;
}

nav {
  text-align: right;
  position: sticky;
  top: 0;
  padding: 1em;
  margin: -1em;
  background: #fff;
}

nav * {
  margin-left: 1em;
}

nav a {
  text-decoration: none;
  color: #000
}

nav a:hover {
  text-decoration: underline;
}

.message {
  padding-left: 0.4em;
  padding-bottom: 0.2em;
  padding-top: 0.4em;
  margin: 0.2em;
  margin-right: 1px;
  padding-right: 0;
  border: 1px solid grey;
  border-radius: 4px;
}

a.reply-link {
  color: #aaa;
  font-size: 0.6em;
  text-decoration: none;
  display: block;
  margin-left: 0.5em;
}

div.room {
  max-width: 60em;
  margin: auto;
  padding: 1em;
}

input.message-input {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div#create-room-form {
  max-width: 60em;
  margin: auto;
  padding: 2em;
}

div#login-form {
  max-width: 60em;
  margin: auto;
  padding: 2em;
}

span.email-list {
  font-family: monospace;
}

div.visited-list ul {
  padding: 0.5em;
  list-style: none;
}

div.visited-list li {
  margin-bottom: 0.5em;
}

div.visited-list a {
  color: #000;
}

div.byline {
  font-size: 0.6em;
  text-decoration: none;
  padding: 0.2em;
}

div.byline a {
  color: #ccc;
  text-decoration: none;
}

a.timestamp:hover {
  color: #000;
}

div#about {
  max-width: 40em;
  margin: auto;
}

div#about a {
  color: blue;
  text-decoration: none;
}

div#about a:hover {
  color: blue;
  text-decoration: underline;
}

img.avatar {
  height: 1em;
  padding: 0;
  margin: 0;
  margin-right: 0.5em;
}

div.room-info {
  position: sticky;
  top: 3em;
  margin: -0.5em;
  background: #eee;
  padding-top: 0.1em;
  padding-bottom: 1em;
  padding-left: 1em;
  border-radius: 1em;
  border: 0.5em solid #fff;
}
